
*{box-sizing: border-box;
  margin: 0;
  padding: 0;
}
div.container{
  border: 5px solid #ac2d07; 
  width: 90%;
  margin: 0 auto;
}
header{
  background-color: #e0a54b;
}
.hero img{
  width: 100%;
}
div.left, div.middle, div.right{
  border:3px dotted green;
  width: 33%;
}
aside img {
  width: 100%;
}
aside{
  display: flex;
  justify-content: space-between;
}
nav{
  background-color: dimgray;
}
ul{
  text-align: center;
}
li{
  display: inline-block;
  width: 200px;
  border: 2px solid white;
  line-height:3em ;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-variant: small-caps;
}
a{
  color: aliceblue;
  text-decoration: none;
  display: block;
}

